<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<label> From:
    <input type="date" name="fromDate" id="fromDate" value="2016-12-01"> </label>

<label> To:
    <input type="date" name="toDate" id="toDate" value="2017-02-05"> </label>

<button id="updateData">Search</button>

{{!-- <label for=" currency"> Currency
</label> --}}

{{!-- <section name="currency" id="currency">
    <option value="usd">US Dollar ($)</option>
    <option value="eur">Euro (€)</option>
</section> --}}



<canvas id="chart-canvas"></canvas>